*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
}
#title{
    font-size: 1.1rem;
    font-weight: bold;
}
